[Unit]
Description=HuduGlue PSA Sync Timer
Requires=huduglue-psa-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
